/*
  Lioden CSS by EchoLorien (#243975).
  This code may NOT be altered, edited, or re-uploaded. 
*/

/* Colors
#7EA16B Asaparagus
#395756 Dark Slate Grey
#9E7682 Mountbatten Pink
#ECF0F1 Cultured
#290628 Dark Purple
*/

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
	background-color: #395756;
	font-family: 'Abel', sans-serif;
	color: #ECF0F1;
}

.center.b {
	color: #395756 !important;
}

.feature {
	background-color: #290628 !important;
	color: #ECF0F1 !important;
	border: none !important;
}

input[type="button"],
input[type="submit"],
input[type="submit"]:hover {
	border: none !important;
}

.topbar {
	background-color: #290628;
	border: none;
	border-top: none;
	color: #ECF0F1;
	border-radius: 15px;
	font-family: 'Abel', sans-serif;
}

.topbar li a {
	color: #ECF0F1 !important;
}

.navbar {
	background-color: #290628;
	border-bottom: none;
	font-family: 'Vibur', cursive;
	color: #ECF0F1;
	border-radius: 15px;
}

.navbar li a {
	color: #ECF0F1 !important;
}

.navbar li a:hover {
	background-color: #290628 !important;
}

.container.main {
	box-shadow: none;
	border: none;
	border-radius: 15px;
}

.col-md-9 {
	background: none;
	border-right: none;
}

.breadcrumb {
	background-color: #290628;
	color: #ECF0F1 !important;
	border: none;
}

.breadcrumb .active {
	color: #ECF0F1;
}

.alert {
	background-color: #290628;
	border: none;
	color: #ECF0F1;
}

.alert-warning,
.alert-danger {
	background-color: #290628;
	color: #ECF0F1;
	border: none;
}

div.left {
	background-color: #290628;
	color: #ECF0F1;
	border: none;
	padding: 2px;
}

.panel {
	background-color: #290628 !important;
	box-shadow: none !important;
	border: none !important;
	color: #ECF0F1 !important
}

.progress {
	background-color: #290628;
	color: #ECF0F1 !important;
}

.progress-div {
	color: #ECF0F1;
}

.progress-bar {
	background-color: #290628;
	border: !important;
}

.s-chat-message:nth-child(even) {
	background-color: #395756 !important;
	border: none !important;
}

.s-chat-message:nth-child(odd) {
	background-color: #290628 !important;
	border: none !important;
}

.s-chat-message__pinned {
	background-color: #290628 !important;
	color: #ECF0F1 !important;
	border: none !important;
}

.s-chat-message_timestamp {
	color: black !important;
}

div#chatMessageContainer {
	border: none !important;
}

button#label_currentChannel {
	border: none !important;
	background-color: #290628 !important;
}

h1 {
	color: #290628;
	font-size: 76px;
	text-align: center;
	text-shadow: 2px 1px #c1c0bb;
	font-family: 'Vibur', cursive;
}

small {
	color: #ECF0F1 !important;
}

h2 {
	color: #ECF0F1;
	font-size: 24px;
	text-align: center;
}

.sidebar h3 {
	font-family: 'Vibur', cursive;
}

h3 {
	color: #ECF0F1 !important;
	font-size: 24px !important
}

.table {
	background-color: #395756;
	border: none !important;
	border-collapse: separate;
	border-radius: 10px;
}

.top,
.bottom,
th {
	background-color: #290628 !important;
	color: #ECF0F1 !important;
	border-radius: 5px;
	font-family: 'Vibur', cursive;
}

.table .left {
	background-color: #290628;
}

.inner-table .left {
	background-color: #290628 !important;
}

.inner-table .right {
	background-color: #290628;
}

.right_odd {
	background: none !important;
	border: none !important;
}

.right_cub {
	background: none !important;
}

.item-header {
	background-color: #290628 !important;
	color: #ECF0F1 !important;
}

.item {
	background-color: #290628 !important;
	border: none !important;
}

.sub_menu {
	background-color: #290628 !important;
}

.sub_menu_item_selected {
	background-color: #290628 !important;
}

.cave-grid,
.mound-grid {
	background-color: #290628;
	border: none !important;
	color: #ECF0F1 !important
}

a:link,
a:visited {
	color: #ECF0F1 !important;
}

table.table.auto {
	color: black !important;
}

a:hover {
	color: #c49486 !important;
}

input,
select,
textarea {
	background-color: #290628 !important;
	border: none !important;
	border-radius: 15px;
	box-shadow: none !important;
	color: black !important;
	text-shadow: none !important;
}

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	display: flex;
	justify-content: center
}

.Box1 {
	float: left;
	background-color: #290628;
	color: #393939;
	padding: 15px;
	border: 1px solid #d6d1cb;
	border-radius: 15px;
	margin: 15px;
	float: left;
	height: 250px;
	width: 250px;
	overflow: hidden;
	margin-bottom: 35px;
	transition: 1s
}

.Box1:hover {
	overflow-y: auto;
}

.Box2 {
	float: left;
	background-color: #290628;
	color: #393939;
	padding: 15px;
	border: 1px solid #d6d1cb;
	border-radius: 15px;
	margin: 15px;
	float: right;
	height: 250px;
	width: 250px;
	overflow: hidden;
	margin-bottom: 35px;
	transition: 1s
}

.Box2:hover {
	overflow-y: auto;
}

.Box3 {
	float: left;
	background-color: #9E7682;
	color: #393939;
	padding: 15px;
	border: 1px solid #d6d1cb;
	border-radius: 15px;
	margin: 15px;
	float: right;
	height: 250px;
	width: 820px;
	overflow: hidden;
	margin-bottom: 35px;
	transition: 1s
}

.Box3:hover {
	overflow-y: auto;
}

.credit {
	background-color: #9E7682;
	color: #ECF0F1;
	padding: 10px;
	border: none;
	position: fixed;
	text-align: center;
	border-radius: 5px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	height: 40px;
	overflow: auto;
}

div#lion_image {
	filter: grayscale(70%) opacity(80%);
	border-radius: 50%;
	overflow: hidden;
	margin-top: 16px;
	margin-left: 4px;
}

table#player img {
	filter: grayscale(70%) opacity(80%);
	border-radius: 50%;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 7px;
	height: 0px;
	border-radius: 15px;
}

::-webkit-scrollbar-track {
	background: #c6bcbd;
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	background: #c49486;
	border-radius: 15px;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://puu.sh/CVt4y/24596b12f4.png');
}